input {
    color: #cacde8;
    color: #25273c;
    color:hsl(234, 11%, 52%);
    color: hsl(234, 39%, 85%);
    color: #3a7bfd;
    color: #57ddff;
    color: #c058f3;

    color: #fafafa;
    color: #e4e5f1;
    color: #484b6a;
}